html,
body,
#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
}

#directions {
    position: absolute;
    width: 30%;
    max-height: 50%;
    right: 20px;
    top: 20px;
    overflow-y: auto; /* Show a scrollbar if needed */
    background: white;
    font-family: Arial, Helvetica, Verdana;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
}