.map-container {
  float: right;
  right: 0%;
  width: 45%;
  height: calc(
    100vh - 15px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}